html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #E8E7C3;
  text-shadow: 1px 1px 0,5px black;
}
h2 {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 10px;
  width: 500px;
  border: 1px solid black;
}
h3 {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 10px;
  width: 500px;
  border: 1px solid black;
}
h4 {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 10px;
  width: 500px;
  border: 1px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
p {
  font-size: 10px;
  line-height: 2;
  letter-spacing: 1px;
}
li {
  font-size: 10px;
  line-height: 2;
  letter-spacing: 1px;
}
bold {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #FFFFFF;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #b5c28d;
  padding: 0 10px 10px 10px;
  border: 1px solid black;
}
